.pokedex-container {
  display: flex;
  height: calc(96vh - 64px); 
  background: linear-gradient(135deg, #f0f0f0 50%, #FF6B4A 50%);
  gap: 20px;
}

.pokemon-detail {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  margin: 20px;
  cursor: pointer;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.05);
  }
}

.pokemon-detail img {
  width: 100%; /* Hacer que la imagen sea responsive */
  max-width: 700px; /* Limitar el tamaño máximo en pantallas grandes */
  height: auto; /* Mantener la proporción */
}

.pokemon-list {
  flex: 1;
  overflow-y: auto; /* Habilitar scroll dentro del contenedor */
  max-height: 80vh; /* Altura máxima para permitir el scroll */
  padding: 20px;
  background-color: rgba(255, 107, 74, 0.9);
  border-radius: 10px;
  margin: 20px;
}

.pokemon-item {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pokemon-item:hover {
  background-color: rgba(255, 255, 255, 1);
}

.pokemon-item.selected {
  background-color: #4a90e2;
  color: white;
}

.pokemon-item img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.pokemon-number {
  margin-left: auto;
}

.loading {
  text-align: center;
  padding: 10px;
  color: white;
}

/* Estilos para móviles */
@media (max-width: 768px) {
  .pokedex-container {
    flex-direction: column;
    height: auto; /* Ajustar la altura automáticamente */
    overflow: auto;
  }

  .pokemon-detail {
    margin: 10px auto; 
    width: 30%; /* Asegurar que ocupe menos espacio en el ancho */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .pokemon-detail img {
    width: auto; /* Permitir que la imagen mantenga su proporción */
    max-width: 100%; /* Asegurar que la imagen no sobrepase el ancho del contenedor */
    max-height: 150px; /* Reducir la altura máxima en móviles */
  }

  .pokemon-list {
    width: 90%; /* Ancho del 90% del contenedor padre */
    margin: 10px auto; /* Centrar horizontalmente */
    padding: 10px;
    overflow-y: auto;
  }

  .pokemon-item {
    padding: 8px;
    font-size: 14px;
  }
}

